<section class="section">

    <h1 class="title">{{deck.title}}</h1>


    <div class="columns is-centered">

        <div class="column is-half" style="margin: auto">

            <div class="field is-grouped">
                <button class="button is-light is-large" (click)="prevCard()">
                    <span class="icon is-large">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                </button>

                <div class="card" style="width: 80%">
                    <!--; background-color: red;">-->
                    <a (click)="flipCard()">
                        <div class="card-content">
                            <p class="title" *ngIf="deck.cards.length && showQuestion">
                                {{deck.cards[currentCardIndex]["question"]}}
                            </p>
                            <p class="subtitle" *ngIf="deck.cards.length && !showQuestion">
                                {{deck.cards[currentCardIndex]["answer"]}}
                            </p>
                        </div>
                    </a>
                </div>

                <button class="button is-light is-large" (click)="nextCard()">
                    <span class="icon is-large">
                        <i class="fas fa-chevron-right"></i>
                    </span>
                </button>

            </div>

        </div>

    </div>

    <div class="columns is-centered">
        <div class="column is-one-quarter">
            <p style="text-align: center">
                {{this.deck.cards.length ? this.currentCardIndex+1 : 0}}/{{this.deck.cards.length}}
            </p>
        </div>
    </div>

    <div class="field is-grouped">
        <div class="control">
            <button class="button is-primary" routerLink="/dashboard">Deck Dashboard</button>
        </div>
        <div class="control">
            <button class="button is-primary is-light" routerLink="/home">Home</button>
        </div>
    </div>

    <div class="field is-grouped">
        <div class="control">
            <button *ngIf="!refresh" class="button is-link" (click)="refreshDeck()">
                <i class="fas fa-sync-alt"></i>
            </button>
            <progress *ngIf="refresh" class="progress is-info">30%</progress>
        </div>
        <div class="control">
            <button class="button is-danger" (click)="deleteDeck()">
                <i class="fas fa-trash"></i>
            </button>
        </div>
    </div>

</section>