<div class="card">
    <div class="card-content">
        <p class="title">{{deck.title}}</p>
        <p class="subtitle">{{deck.cards.length}} cards</p>
    </div>
    <footer class="card-footer">
        <!-- <div class="buttons card-footer-item">
            <button class="button is-primary">
                <i class="far fa-hand-pointer"></i>
            </button>
            <button class="button is-info">
                <i class="fas fa-sync-alt"></i>
            </button>
            <button class="button is-danger">
                <i class="fas fa-trash"></i>
            </button>
        </div> -->
        <div class="card-footer-item">
            <button class="button is-primary" (click)="viewDeck()">
                <i class="far fa-hand-pointer"></i>
            </button>
        </div>
        <div class="card-footer-item">
            <button *ngIf="!refresh" class="button is-info" (click)="refreshDeck()">
                <i class="fas fa-sync-alt"></i>
            </button>
            <progress *ngIf="refresh" class="progress is-info">30%</progress>
        </div>
        <div class="card-footer-item">
            <button class="button is-danger" (click)="deleteDeck()">
                <i class="fas fa-trash"></i>
            </button>
        </div>
    </footer>
</div>
<br>