<div class="card">
    <div [ngClass]="checked ? 'card-content has-background-grey-lighter': 'card-content'" (click)="checkbox()">
        <div class="card-header-icon" style="float: right">
            <span class="icon">
                <i *ngIf="!checked" class="far fa-square fa-lg"></i>
                <i *ngIf="checked" class="far fa-check-square fa-lg"></i>
            </span>
        </div>
        <p *ngIf="screenSize > 876" class="title is-4">{{deck.title | abbvTitle}}</p>
        <p *ngIf="screenSize <= 876" class="title is-4">{{deck.title}}</p>
        <p class="subtitle">{{deck.cards.length}} cards</p>
    </div>
    <footer [ngClass]="checked ? 'card-footer has-background-grey-lighter' : 'card-footer'">
        <div class="card-footer-item">
            <button class="button is-primary" (click)="viewDeck()">
                <i class="fas fa-folder-open"></i>
            </button>
        </div>
        <div class="card-footer-item">
            <button *ngIf="!refresh" class="button is-info" (click)="refreshDeck()">
                <i class="fas fa-sync-alt"></i>
            </button>
            <progress *ngIf="refresh" class="progress is-info">30%</progress>
        </div>
        <div class="card-footer-item">
            <button class="button is-danger" (click)="deleteDeck()">
                <i class="fas fa-trash"></i>
            </button>
        </div>
    </footer>
</div>
<br>