<div card="card" [ngStyle]="getSlipStyles()">
    <div class="card-content" (click)="checkbox()">
        <div class="card-header-icon" style="float: right">
            <span [ngClass]="blackOrWhite ? 'icon' : 'icon has-text-light'">
                <i *ngIf="!checked" class="far fa-square fa-lg"></i>
                <i *ngIf="checked" class="far fa-check-square fa-lg"></i>
            </span>
        </div>
        <p *ngIf="screenSize > 876" [ngClass]="blackOrWhite ? 'title is-4' : 'title is-4 has-text-light'">
            {{deck.title | abbvTitle}}</p>
        <p *ngIf="screenSize <= 876" [ngClass]="blackOrWhite ? 'title is-4' : 'title is-4 has-text-light'">
            {{deck.title}}</p>
        <p [ngClass]="blackOrWhite ? 'subtitle' : 'subtitle has-text-grey-light'">
            {{deck.cards ? deck.cards.length : "loading"}} cards</p>
    </div>
    <footer class="card-footer">
        <div class="card-footer-item">
            <button class="button is-primary" (click)="viewDeck()">
                <i class="fas fa-folder-open"></i>
            </button>
        </div>
        <div *ngIf="isLoggedIn" class="card-footer-item">
            <input id="colorPicker" type="color" [(ngModel)]="color" (change)="updateDeckColor()">
        </div>
        <div class="card-footer-item">
            <button *ngIf="!refresh" class="button is-info" (click)="refreshDeck()">
                <i class="fas fa-sync-alt"></i>
            </button>
            <progress *ngIf="refresh" class="progress is-info">30%</progress>
        </div>
        <div class="card-footer-item">
            <button class="button is-danger" (click)="deleteDeck()">
                <i class="fas fa-trash"></i>
            </button>
        </div>
    </footer>
</div>
<br>