<section class="section">

    <h1 class="title">Deck Group</h1>


    <div class="columns is-centered">

        <div class="column is-half" style="margin: auto">

            <div class="field is-grouped">
                <button class="button is-light is-large" (click)="prevCard()">
                    <span class="icon is-large">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                </button>

                <div style="width: 100%">
                    <div class="card"
                        [ngStyle]="{'background-color': compositeDeck.compCards[cardOrder[currentCardIndex]].color}">
                        <!--; background-color: red;">-->
                        <a (click)="flipCard()">
                            <header class="card-header">
                                <p [ngClass]="blackOrWhite ? 'title is-5' : 'title is-5 has-text-light'">
                                    {{compositeDeck.compCards[cardOrder[currentCardIndex]].title}}</p>
                            </header>
                            <div class="card-content">
                                <p [ngClass]="blackOrWhite ? 'title' : 'title has-text-light'"
                                    *ngIf="compositeDeck.compCards.length && showQuestion">
                                    {{compositeDeck.compCards[cardOrder[currentCardIndex]].question}}
                                </p>
                                <p [ngClass]="blackOrWhite ? 'subtitle' : 'subtitle has-text-grey-lighter'"
                                    *ngIf="compositeDeck.compCards.length && !showQuestion">
                                    {{compositeDeck.compCards[cardOrder[currentCardIndex]].answer}}
                                </p>
                            </div>
                        </a>
                    </div>
                    <br>
                    <p style="text-align: center">
                        {{this.compositeDeck.compCards.length ? this.currentCardIndex+1 : 0}}/{{this.compositeDeck.compCards.length}}
                    </p>
                </div>

                <button class="button is-light is-large" (click)="nextCard()">
                    <span class="icon is-large">
                        <i class="fas fa-chevron-right"></i>
                    </span>
                </button>

            </div>

        </div>

    </div>

    <div class="columns is-centered">
        <div class="column is-half buttons">
            <button class="button is-warning" (click)="shuffleCards()">
                <!-- style="width: 19.3%">-->
                <p><i class="fa fa-random"></i> Shuffle</p>
            </button>
            <button class="button is-success" (click)="unshuffleCards()">
                <!-- style="width: 19.3%">-->
                <p><i class="fas fa-sort-amount-down-alt"></i> Order</p>
            </button>
            <button class="button is-success is-light" (click)="reverseCards()">
                <!-- style="width: 19.3%">-->
                <p><i class="fas fa-backward"></i> Reverse</p>
            </button>
            <button *ngIf="!refresh" class="button is-link" (click)="refreshDeckGroup()">
                <!-- style="width: 19.3%">-->
                <p><i class="fas fa-sync-alt"></i> Refresh
                    {{compositeDeck.compCards[cardOrder[currentCardIndex]].title}} Deck</p>
            </button>
            <progress *ngIf="refresh" class="progress is-info">30%</progress>
            <button class="button is-danger" (click)="deleteDeck()">
                <!-- style="width: 19.3%">-->
                <p><i class="fas fa-trash"></i> Delete {{compositeDeck.compCards[cardOrder[currentCardIndex]].title}}
                    Deck
                </p>
            </button>
        </div>
    </div>


    <div class="field is-grouped">
        <div class="control">
            <button class="button is-primary" routerLink="/dashboard">Deck Dashboard</button>
        </div>
        <div class="control">
            <button class="button is-primary is-light" routerLink="/home">Home</button>
        </div>
    </div>

</section>