<!-- <input id="sheetId" name="sheetId" class="form-control" required minlength="4" appForbiddenName="bob"
    [(ngModel)]="sheetId" #name="ngModel">

<div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">

    <div *ngIf="name.errors.required">
        Name is required.
    </div>
    <div *ngIf="name.errors.minlength">
        Name must be at least 4 characters long.
    </div>
    <div *ngIf="name.errors.forbiddenName">
        Name cannot be Bob.
    </div>

</div> -->

<form class="section" #deckForm="ngForm" (ngSubmit)="previewDecks()">
    <div class="field">
        <label class="label">Spreadsheet URL</label>
        <input class="input" type="text" required [(ngModel)]=spreadsheetUrl id="ssurl" name="ssurl" #ssurl="ngModel"
            pattern=".*docs.google.com\/spreadsheets\/d\/[a-zA-Z0-9-_]+\/.*">
        <div *ngIf="ssurl.invalid && (ssurl.dirty || ssurl.touched)">
            <p *ngIf="ssurl.errors.required" class="help is-danger">
                Missing google spreadsheet URL
            </p>
            <p *ngIf="ssurl.errors?.pattern" class="help is-danger">
                Improper google spreadsheet URL. Should contain docs.google.com/spreadsheets/d/
            </p>
        </div>
    </div>
    <div class="field is-horizontal">
        <div class="field-body">
            <div class="field">
                <label class="label">Question Column</label>
                <p class="control is-expanded">
                    <input class="input" type="text" placeholder="Question Column" value="A" name="qcol" #qcol="ngModel"
                        [(ngModel)]="queCol" required>
                </p>
            </div>
            <div class="field">
                <label class="label">Answer Column</label>
                <p class="control is-expanded">
                    <input class="input" type="text" placeholder="Answer Column" value="B" name="acol" #acol="ngModel"
                        [(ngModel)]="ansCol" required>
                </p>
            </div>
        </div>
    </div>

    <div class="field is-grouped">
        <div class="control">
            <input [disabled]="deckForm.invalid" type="submit" class="button is-link" value="Submit">
        </div>
        <div class="control">
            <a routerLink="/home"><button class="button is-link is-light">Home</button></a>
        </div>
    </div>

    <div *ngIf="errorCode==403" class="notification is-danger is-light">
        <b>403 Permission Denied!</b>
        <p>
            Study Buddy 2.0 does not have adequate permissions to access the given Google Spreadsheet. Please give Study
            Buddy 2.0 access or make the sheet public readable.
        </p>
    </div>
    <div *ngIf="errorCode==404" class="notification is-danger">
        <b>404 Resource Not Found!</b>
        <p>
            The provided URL does not correspond to an existing Google Spreadsheet.
        </p>
    </div>
</form>