<form class="section" #deckForm="ngForm" (ngSubmit)="previewDecks()">

    <h1 class="title">Create a Flashcard Deck</h1>

    <div class="field">
        <label class="label">Spreadsheet URL</label>
        <input class="input" type="text" required [(ngModel)]=spreadsheetUrl id="ssurl" name="ssurl" #ssurl="ngModel"
            pattern=".*docs.google.com\/spreadsheets\/d\/[a-zA-Z0-9-_]+\/.*"
            [className]="ssurl.invalid && (ssurl.dirty || ssurl.touched) ? 'input is-danger' : 'input'">
        <div *ngIf="ssurl.invalid && (ssurl.dirty || ssurl.touched)">
            <p *ngIf="ssurl.errors.required" class="help is-danger">
                Missing google spreadsheet URL
            </p>
            <p *ngIf="ssurl.errors?.pattern" class="help is-danger">
                Improper google spreadsheet URL. Should contain docs.google.com/spreadsheets/d/
            </p>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-body">
            <div class="field">
                <label class="label">Question Column</label>
                <p class="control is-expanded">
                    <input type="text" placeholder="Question Column" value="A" name="qcol" #qcol="ngModel"
                        [(ngModel)]="queCol" required pattern="^[A-Z]+$"
                        [className]="qcol.invalid && (qcol.dirty || qcol.touched) ? 'input is-danger' : 'input'">
                </p>
            </div>
            <div class="field">
                <label class="label">Answer Column</label>
                <p class="control is-expanded">
                    <input type="text" placeholder="Answer Column" value="B" name="acol" #acol="ngModel"
                        [(ngModel)]="ansCol" required pattern="^[A-Z]+$"
                        [className]="acol.invalid && (acol.dirty || acol.touched) ? 'input is-danger' : 'input'">
                </p>
            </div>
        </div>
    </div>

    <div class="field">
        <label class="label">
            <input class="checkbox" type="checkbox" name="header" #header="ngModel" [(ngModel)]="headerPresent">
            Skip Header?
        </label>
    </div>
    <div class="field" *ngIf="headerPresent">
        <label class="label">How many header rows?</label>
        <input type="number" id="hrows" name="hrows" #hrows="ngModel" [(ngModel)]="headerRows" required min=1
            [className]="(hrows.invalid || headerRows <= 0 || headerRows%1!=0) && (hrows.dirty || hrows.touched) ? 'input is-danger' : 'input'">
    </div>

    <div class="field is-grouped">
        <div class="control">
            <input [disabled]="deckForm.invalid || (headerPresent && (headerRows <=0 || headerRows%1!=0))" type="submit"
                class="button is-link" value="Submit Sheet">
        </div>
        <div class="control">
            <a routerLink="/home"><button class="button is-link is-light">Home</button></a>
        </div>
    </div>

    <div *ngIf="errorCode==403" class="notification is-danger is-light">
        <b>403 Permission Denied!</b>
        <p>
            Study Buddy 2.0 does not have adequate permissions to access the given Google Spreadsheet. Please give Study
            Buddy 2.0 access or make the sheet public readable.
        </p>
    </div>
    <div *ngIf="errorCode==404" class="notification is-danger">
        <b>404 Resource Not Found!</b>
        <p>
            The provided URL does not correspond to an existing Google Spreadsheet.
        </p>
    </div>

    <div *ngIf="errorCode==400" class="notification is-danger is-light">
        <b>400 Bad Request</b>
        <p>{{errorMessage}}</p>
    </div>

    <div *ngIf="errorCode < 0" class="notification is-danger is-light">
        <b>Improper Columns</b>
        <p>{{errorMessage}}</p>
    </div>

    <progress *ngIf="loading" class="progress is-primary">30%</progress>

    <div *ngIf="decks.length">
        <h1 class="title is-4">Preview Flashcard Decks</h1>
        <div *ngFor="let deck of decks">
            <label class="label">{{deck.title}}</label>
            <table class="table">
                <thead>
                    <tr>
                        <th>Question</th>
                        <th>Answer</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let card of deck.cards | slice:0:4">
                        <td>{{card.question}}</td>
                        <td>{{card.answer}}</td>
                    </tr>
                    <tr *ngIf="deck.cards.length > 4">
                        <td>{{deck.cards.length-4}} more...</td>
                        <td>{{deck.cards.length-4}} more...</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="control">
        <input [disabled]="!submitted" type="button" class="button is-link" value="Create Deck(s)"
            (click)="createDecks()">
    </div>
</form>